:root {
  --primary: #ebd80d;
  --bg: #289cca;
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "POPPINS", sans-serif;
  background-color: rgb(11, 190, 206);
  color: #ffff;
  /* min-height: 3000px; */
}

/* Navbar */
.navbar {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: black;
  border-bottom: 1px solid #0051ff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar img {
  width: 3.5em;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-self: unset;
}
.navbar .navbar-logo {
  margin-right: 400px;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--bg);
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--bg);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid white;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--bg);
}

#hamburger-menu {
  display: none;
}

/* Hero section */


/* About Section */
.menu {
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  padding:8rem 0rem 0rem;
}
.menu h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.menu h2 span {
  color: var(--primary);
}


/* Menu section */
/* .menu h2 {
  margin-top: 60px;
} */
.kutip p {
  /* text-align: center; */

  max-width: 20rem;
  margin: auto;
  font-weight: 100;
  line-height: 2rem;
  font-size: 1.5rem;
}

.menu .row {
  display: flex;
  align-items: center;
  /* text-align: center; */
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -1rem;
}




.menu .row {
  flex: 1 1 45rem;
}

.diskon {
  margin-top: 4rem;
}
.promo .row img {
  margin-bottom: -4px;
  width: 100%;
}
.menu .row img {
  width: 100%;
}

.baru{
  color: white;
     background-color: rgb(0, 0, 0);
     border-bottom:8px groove rgb(160, 191, 245) ; 
     border-radius: 0 0 30px 30px;
    }
    .baru h4{
      line-height: 2rem;
      padding: 15px; 
      font-size: 17px; 
      text-align: center;
  }
.limit{
  padding:  0 20%;
}
.limit .waktu {
  /* display: block; */
  margin:auto;
  width: auto;
  height: 6rem;
  border: 5px groove rgb(193, 239, 233);
  /* border-radius: 20px; */
  color: #000000;
  background-color: rgb(247, 247, 247);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
}

.columns {
    /* text-align: center; */
    align-items: center;
  /* margin: 50px; */
  /* float: left; */
  width: 38.3%;
  padding: 0;
  justify-content: center;
}

.price {
  margin: 20px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border: 5px solid #eee;
  padding: 0.5px;
  -webkit-transition: 0.5s;
  transition: 0.3s;
  background-color: white;
  border-radius: 100px;
}

.price:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  border: 10px solid black;
}

.price .header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 25px;
  border: 2px solid #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 100px 100px 0px 0px;
}
.price .kedua3 p .badge,
.price .kedua2 p .badge,
.price .kedua p .badge {
  top: -3px;
  position: relative;
  justify-content: center;
  background-color: red;
  color: white;
  padding: 2px 8px;
  text-align: center;
  border-radius: 20px;
  font-size: 15px;
  text-decoration: none;
}
.price .kedua3 span,
.price .kedua2 span,
.price .kedua span {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.price .kedua3 p span,
.price .kedua2 p span,
.price .kedua p span {
  text-decoration: 2px line-through red;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.price .isi {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 5px;
  margin: 10px;
  font-size: 12px;
  text-shadow: none;
}

.price .isi .fa-check {
  color: green;
}
.price .isi .fa-remove {
  color: rgb(228, 20, 20);
}

.price .kedua3 {
  text-align: center;
  border: 2px solid #ffffff;
  padding: 20px;
  color: #000000;
  background-color: #dafeb6;
  font-size: 30px;
}
.price .kedua2 {
  text-align: center;
  border: 2px solid #ffffff;
  padding: 20px;
  color: #000000;
  background-color: #faeaa4;
  font-size: 30px;
}
.price .kedua {
  text-align: center;
  border: 2px solid #ffffff;
  padding: 20px;
  color: #000000;
  background-color: #e1f0ff;
  font-size: 30px;
}
.price .grey {
  text-align: center;
  border: 2px solid #ffffff;
  padding: 20px;
  border-radius: 0px 0px 100px 100px;
  background-color: #ffffff;
  font-size: 20px;
}

.button {
  /* background-color: #d7ff0f; */
  border: 1px solid rgb(158, 154, 154);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
.button:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  background-color: #ebd80d;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}



/*  */
.menu-kami .cta {
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #000000;
  background-color: var(--primary);
  border-radius: 5rem;
  border: 3px solid black;
  box-shadow: 3px 1px 7px rgba(81, 75, 75, 0.5);
  /* transition: 0.4s; */
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
/*  */

/* Footer */
footer {
  width: 100%;
  background-color: #000000;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {

  color: var(--primary);
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
  font-size: 10px;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Modal Box */
/* Item Detail */

/* Media Queries */

/* Media Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Media Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  /* Media Mobile */
.navbar{
height: 8em;
}
.navbar img{
  width: 50px;
}

.navbar .navbar-logo{
  margin-right: 0;
  font-size: 2.5em;
}

.head .content {
  text-align: left;
}

.head .content p{
  padding: 0;
  /* text-align: center; */
}

  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    width: 21rem;
    height: 100vh;
    transition: 0.3s;
    border: 3px solid #000000;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #ffffff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    /* border: 2px solid #fff; */
    align-items: center;
    justify-content: center;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.6);
  }


.menu h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}


.diskon{
    margin-top: 8rem;
}


  .limit{
    padding: 0;
  }

  .limit .waktu{
font-size: 30px;
  }
  .menu{
    padding: 0;
  }

.columns{
width: 100%;
}

  .menu .row {
    display: flex;
  }



  @media (max-width: 1366px) {
    html {
      font-size: 55%;
    }
  }
}
